<!DOCTYPE html>
<html lang="ru">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Друзья</title>
      <link rel="stylesheet" href="/public/styles.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

      <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
      <header class="headOfFriends">
            <div class="friendshead">
                  <div class="frava">
                        <img src="/public/icons/frava.png" alt="avatar" class="fravaimg">
                  </div>
                  <div class="textanahuy">
                        <div class="zagolovok">
                              Invite a friend
                        </div>
                        <div class="poyasneniye">
                              Invite active friends and receive a portion of their income from the first day
                        </div>
                  </div>
            </div>
      </header>

      <section>
            <div class="entcode">
                  <div class="entera">
                      <div class="zagolovok" id="razmer">Enter the code</div>
                      <div class="poyasneniye" id="chvet">
                          The code gives you the opportunity to receive a small initial bonus in order to start actively mining our token.
                      </div>
                  </div>
              
                  <div class="input-container">
                      <input type="text" class="vvodilka" placeholder="Enter Code...">
                      <button class="done">Done</button>
                  </div>
              </div>

            <div class="polhuy">
                  Please note that the invitation code can be entered only 1 time and no more.
            </div>

            <div class="refer">

            </div>

            <div class="polhuy">

            </div>
      </section>


      <hr class="header-line2">

      <nav class="bottom-nav">
        <button onclick="navigate('/')"> <img src="/public/icons/1.png" alt="" class="buttons"> </button>
        <button onclick="navigate('/rating')"><img src="/public/icons/4.png" alt="" class="buttons"></button>
        <button onclick="navigate('/mining')"><img src="/public/icons/2.png" alt="" class="buttons"></button>
        <button onclick="navigate('/friends')"><img src="/public/icons/3.png" alt="" class="buttons"></button>
    </nav>

      <script src="/script.js"></script>
</body>
</html>