<!DOCTYPE html>
<html lang="ru">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Майнинг</title>
      <link rel="stylesheet" href="/styles.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

      <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
      <header class="headOfIndex">
            <div class="profile">
                  <div class="avatar">
                        <div class="baba">
                              <img src="/icons/5.png" alt="Аватар">
                        </div>
                  </div>
                  <div class="info">
                        <h2 id="username">User</h2>
                        <br>
                        <p>Rating:<span id="rating"> 0</span></p>
                        <p>Cabala: CryptoFarm</p>
                        <p>Wallet: <button onclick="connectWallet()" class="wallet">Connect</button></p>
                  </div>
            </div>
      </header>

      <hr class="header-line1">



      <hr class="header-line2">

      <nav class="bottom-nav">
        <button onclick="navigate('/')"> <img src="/icons/1.png" alt="" class="buttons"> </button>
        <button onclick="navigate('/rating')"><img src="/icons/4.png" alt="" class="buttons"></button>
        <button onclick="navigate('/mining')"><img src="/icons/2.png" alt="" class="buttons"></button>
        <button onclick="navigate('/friends')"><img src="/icons/3.png" alt="" class="buttons"></button>
    </nav>

      <script src="/script.js"></script>
</body>
</html>