html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*-----------------------------------------*/

body {
    background-color: #161617;
    color: #ffd700;
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}

button {
    background: #ffd700;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 8%;
      display: flex;
      justify-content: space-around;
      background: #161617;
      padding: 0px;
      margin: 0px;
    }
    
    .bottom-nav button {
      background: none;
      color: #ffd700;
      width: 25%; /* Каждая кнопка занимает 25% ширины */
      flex: 1; /* Равномерно распределяет пространство между кнопками */
    }
    
    .bottom-nav button img {
        height: 80%; /* Убедитесь, что изображение не выходит за высоту кнопки */
        width: auto;
        display: block; /* Убирает лишнее пространство под изображением */
        margin: 0 auto; /* Центрирует изображение по горизонтали */
    }
    
.top-leaders {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.leader {
    background: #444;
    padding: 10px;
    border-radius: 10px;
    color: #ffd700;
}

.leaderboard {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.mining {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mining img {
    width: 250px;
}

.mining-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.friend {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #333;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.friend img {
    width: 50px;
    border-radius: 50%;
}

.buttons {
    width: 50%;
    padding: 0px;
    margin: 0px 0px 100px 0px;
}

.header-line2 {
    position: fixed;
    top: 91%;
    width: 100%;
    /* Занимает всю доступную ширину */
    margin: 5px 0px 20px 0px;
    /* Убираем отступ слева */
    border: none;
    /* Убираем стандартные границы */
    height: 1.5px;
    /* Толщина линии */
    background-color: #000000;
    /* Цвет линии */
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.5);
}

/*----index----------------------------------------------------------------------------------*/

.headOfIndex {
    height: auto;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profile {
    display: flex;
    align-items: center;
    /* Выравнивание по вертикали */
    padding: 0;
}

.avatar {
    width: calc(100% / 3);
    /* Занимает треть ширины */
    margin: 0;
    padding: 0;
    margin-left: 5%;
}

.baba {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.profile img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 40px rgba(0, 0, 0, 0.5);
    margin: 0;
    object-fit: cover;
}

.info {
    width: calc(100% * (2 / 3));
    /* Занимает две трети ширины */
    text-align: left;
    font-size: 60%;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    color: whitesmoke;
    font-weight: 100;
    line-height: 130%;
}






.wallet {
    background-color: #161617;
    font-size: 100%;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

.header-line1 {
    width: 100%;
    /* Занимает всю доступную ширину */
    margin: 0px 0px 20px 0px;
    /* Убираем отступ слева */
    border: none;
    /* Убираем стандартные границы */
    height: 1.5px;
    /* Толщина линии */
    background-color: #000000;
    /* Цвет линии */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.claimAndBoost {
    background-color: #161617;
    margin: 0;
    padding: 0;
}

.buttos1 {
    display: flex;
    gap: 1%;
}

.buttonsnn {
    margin: 0 auto;
}

.knopki {
    width: 100%;
    margin: 0;
    padding: 0;
}

#knopka {
    margin-top: 15%;
}

/*----weely claim----------------------------------------------------------------------------------*/

.conteiner-day {
    width: 100%;
    font-size: 75%;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.dayicon {
    margin: 0;
    padding: 0;
    width: 80%;
}

.dopinfo {
    font-size: 65%;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 130%;
    margin-top: 2%;
    color: #515151;
    font-weight: 300;
}

.textinfo {
    position: relative;
    bottom: 2em;
    padding: 1%;
}

.section-wrapper {
    display: flex;
    justify-content: center; /* Выравниваем по центру */
    align-items: center; /* Выравниваем по вертикали */
    width: 100%; /* Растягиваем на всю ширину */
    margin: 0 auto;
    text-align: center;
}
section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Центрируем содержимое */
        width: 100%;
        margin: 0 auto;

}

.daylocked {
    width: calc(100% / 8.05);
    /* Разбиваем на 8 колонок, но чуть меньше, чтобы было наложение */
    height: auto;
    /* Сохраняем пропорции */
    display: block;
    margin: -2px;
    /* Чуть-чуть наезжаем друг на друга */
}

/*.butback {
    background-color: #161617;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 20%;
    font-size: 60%;
    width: 30%;
    padding: 1%;
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translate(-50%, -50%);
}*/

.koko{
    width: 100%;
}

.butbackk {
    padding: 5px; /* Уменьшаем отступы */
    background-color: #161617;
    position: fixed;
    bottom: 5%; /* Опускаем кнопку ниже */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Уменьшаем размер */
    height: 50px;
    border: none;
    border-radius: 50%; /* Делаем кнопку круглой */
}

.butbackk img {
    width: 100%; /* Подстраиваем картинку под кнопку */
    height: auto;
}



/*----buyboost----------------------------------------------------------------------------------*/

.doppoinfo {
    font-size: 65%;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 130%;
    margin-top: 2%;
    color: #515151;
    font-weight: 300;
}

.textuinfo {
    position: relative;
    bottom: -1em;
    padding: 1%;
}

.manicon {
    margin: 0;
    padding: 0;
    width: 30%;
}

.boostbut {
    background-color: #161617;
    margin: 0;
    padding: 0;
    width: 100%;
}

.boosts {
    margin: 0;
    padding: 0;
    width: 100%;
}

.huynya {
    color: #939393;
    font-size: 10%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/*----friends----------------------------------------------------------------------------------*/

.friendshead {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10%;
}

.frava {
    width: 30%;
}

.fravaimg {
    width: 100%;
}

.textanahuy {
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* Задает расстояние между .zagolovok и .poyasneniye */
}

.zagolovok {
    width: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-weight: 500;
}

.poyasneniye {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #585858;
}

.entcode {
    width: 90%;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 3%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* Располагаем элементы вертикально */
    gap: 1em;
    /* Добавляем расстояние между текстом и полем ввода */
    margin-top: 1em;
}

.entera {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* Расстояние между заголовком и пояснением */
}

.input-container {
    display: flex;
    align-items: center;
    /* Выравниваем элементы по центру по вертикали */
    justify-content: space-between;
    /* Размещаем инпут слева, кнопку справа */
    width: 100%;
    /* Растягиваем контейнер на всю ширину */
}

.vvodilka,
.done {
    height: 2em;
    /* Делаем одинаковую высоту */
}

.vvodilka {
    background-color: #161617;
    width: 35%;
    border-radius: 0.8em;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding-left: 10px;
}

.vvodilka::placeholder {
    color: #555;
    opacity: 1;
}

.vvodilka:focus::placeholder {
    opacity: 0;
}

.vvodilka:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    caret-color: whitesmoke;
}

.done {
    background-color: #161617;
    width: 20%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 0.8em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    font-weight: 300;
}

#chvet {
    line-height: 1.2em;
}

.polhuy{
      color: #515151;
      width: 70%;
      line-height: 1.2em;
      margin: 0 auto;
      margin: 3em;
}

.refer{
      width: 90%;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
      border-radius: 0.5em;
      padding: 3%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* Располагаем элементы вертикально */
      gap: 1em;
      /* Добавляем расстояние между текстом и полем ввода */
      
}

#fuck{
      margin: 0 auto;
      width: 30%;
}


@media (max-width: 1000px) {
    .vvodilka,
    .done {
        font-size: 140% !important;
    }
    .zagolovok {
        font-size: 200% !important;
    }
    .poyasneniye,
    .polhuy {
        font-size: 150% !important;
    }
    .info {
        font-size: 140%;
    }
}

@media (max-width: 900px) {
    .vvodilka,
    .done {
        font-size: 85% ;
    }
    .zagolovok {
        font-size: 115% ;
    }
    .poyasneniye,
    .polhuy {
        font-size: 95% ;
    }
}

@media (max-width: 800px) {
    .vvodilka,
    .done {
        font-size: 110% !important ;
    }
    .zagolovok {
        font-size: 150% !important;
    }
    .poyasneniye,
    .polhuy {
        font-size: 90% ;
    }
    .info {
        font-size: 100%;
    }
}

@media (max-width: 700px) {
    .vvodilka,
    .done {
        font-size: 75% ;
    }
    .zagolovok {
        font-size: 90%;
    }
    .poyasneniye,
    .polhuy {
        font-size: 115% !important;
    }

    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: space-around;
        background: #161617;
        padding: 0px;
        margin: 0px;
      }
      
      .bottom-nav button {
        background: none;
        color: #ffd700;
        width: 25%;
        flex: 1; 
      }
      
      .bottom-nav button img {
          height: 90%; 
          width: auto;
          display: block; 
          margin: 0 auto; 
      }
}

@media (max-width: 600px) {
    .vvodilka,
    .done {
        font-size: 70% ;
    }
    .zagolovok {
        font-size: 95% ;
    }
    .poyasneniye,
    .polhuy {
        font-size: 75% ;
    }
    .info {
        font-size: 60%;
    }
}

@media (max-width: 500px) {
    .vvodilka,
    .done {
        font-size: 60% !important;
    }
    .zagolovok {
        font-size: 90% !important;
    }
    .poyasneniye,
    .polhuy {
        font-size: 75% !important;
    }
}

@media (max-width: 1000px) {
    .textinfo,
    .textuinfo{
        font-size: 220%;
    }

    .huynya{
        font-size: 120%;
    }

}



/*----raring----------------------------------------------------------------------------------*/

.ramka{
    width: 100%;
    margin: 0 auto;
}

.ramki{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pereklraiting{
    background-color: #161716;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    width: 10px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
}

.pereklraiting img{
    width: 100%;
}

.headOfRating{
    margin: 0;
    padding: 0;
}

.chelkatbkater{
    display: flex;
}



/*----mining----------------------------------------------------------------------------------*/

.balik{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    margin-top: 1em;
}


.chethik{
    font-size: 4em;
    padding-bottom: 0.5em;
    color: whitesmoke;
    font-weight: 700;
}

.zavodsec{
    width: 100%;
    margin: 0;
    padding: 0;
}

.zavod{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #161617;
}

.zavodimg{
    width: 100%;
    margin: 0;
    padding: 0;
}

.miningk{
    padding: 0;
    background-color: #161617;
    left: 100%;
}

.tasks{
    padding: 0;
    background-color: #161617;
    left: 100%;

}

.miandta{
        width: 100%;
        display: flex;
        justify-content: space-between; /* Распределяет элементы по краям */      
}

